@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

body {
  font-family: 'Encode Sans Expanded', sans-serif;
  font-size: 1em;
  color: black;
  height: 100vh;
  /* Ensure the body takes the full viewport height */
  margin: 0;
  /* Remove any default browser margin */
  padding: 0;
  display: flex;
  flex-direction: column;
}

header{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

nav {
 display: flex;
 align-items: center;
 justify-content: center;
}

#nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}


ul {
  list-style-type: none;
  /* Remove bullet points */
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #333;
  /* Set link color */
  font-weight: 500;
}

main {
  
}

.section-one {
  text-align: center;
  padding: 50px;
}